@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";


@theme{
    --font-inter: 'Inter', 'sans-serif';
    --font-poppins: 'Poppins', 'sans-serif';
    --font-montserrat: 'Montserrat', 'san-serif';
    --font-manrope: 'Manrope', 'sans-serif'
}

.blogs-swiper .swiper-pagination {
  position: static !important;
  margin-top: 1.25rem; /* 20px */
}

.clip-curve {
  clip-path: ellipse(100% 80% at 50% 100%);
}

  .scrolll::-webkit-scrollbar {
  width: 4px;               /* Thin width */
}

.scrolll::-webkit-scrollbar-track {
  background: transparent;  /* Optional */
}

.scrolll::-webkit-scrollbar-thumb {
  background-color: #F6EEFC; 
  border-radius: 8px;
}

/* Optional: Firefox support */
.scrolll {
  scrollbar-width: thin;
  scrollbar-color: #F6EEFC transparent;
}
